<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">

    <title>Atum AI</title>
</head>
<body>
    <header>
        <img class="logo" src="Group.png" alt="logo">
        <nav>
        <ul class="nav__links">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <a class="cta" href="#"><button>Log in</button></a>
   
    </header>
    <h1>Work at the speed of thought</h1>
    <p>Unlock the full potential of your development team with our innovative digital platform designed to streamline the creation of digital products.</p> 
    <p class="son">Say goodbye to long, complicated planning sessions and hello to efficient, agile workflows that get your products to market faster.</p>
    <button class="start">Get started</button>
</body>
</html>