<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="productProfile.css">
</head>
<header>
    <img class="logo" src="Group.png" alt="logo">
   <a><img class="user" src="user.png" alt="user">User name</a>
    
</header>
<body>
    <div class="parent">
        <div class="div1"> 
            <h2 class="step">Step 1: Set your product profile</h2>
            <p class="description">Complete the following steps to generate a solution: </p>
        </div>
        <div class="div2"> </div>
        <div class="div3">        
        <h3>Describe your product</h3>
        <p class="let">Let us know what your product is about, don’t worry about describing too much, we want to know 
            all the details!</p>
        <div class="form-outer">
            <div class="container">
                <div class="form">
                    <div class="form-input">
                        <span class="icon"><i class="bi bi-mic"></i></span>
                        <input class="br" type="text" name="text" placeholder="Describe your product">
                    </div>
                </div>
            </div>
        </div>
        <p class="key">Add key details:</p>
        <button class="e">Mobile</button>  
        <button class="e">Desktop</button>
        <button class="e">Accesibility</button>
        <button class="e">Dark</button>
        <button class="e">Aws</button>

        </div>
        <div class="div4"> 
            <button class="cancel">Cancel</button>
            <button class="continue">Save and continue</button>
        </div>
        </div>
</body>
</html>