* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black; 
    color: rgb(255, 255, 255); 
    padding-left: 8px; 
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    padding-right: 50px;
}
.logo {
    cursor: pointer;
    color: #E0D937;
    height: 40px;
}
.user{
    cursor: pointer;
    height: 40px;
    padding-right: 20px;
}
a{
    color:rgb(255, 255, 255);
    size: 16px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 6; }
    .div2 { grid-area: 2 / 1 / 5 / 2; }
    .div3 { grid-area: 2 / 2 / 5 / 6; }
    .div4 { grid-area: 5 / 1 / 6 / 6; }

.step{
    size: 36px;
    font-weight: 700;
}

.description{
    size: 16px;
    font-weight: 400;
    padding-top: 8px;
}

h3{
    padding-top: 20px;
    font-size: 30px;
}
.let{
    padding-top: 10px;
    font-size: 16px;
    font-weight: 400;
}
.form-outer{
    padding-top: 15px;
    max-width: 300px;
    margin: auto;
    display: flex;
}

input {
    border: 2px solid #eee;
    padding: 5px 10px 5px 50px;
    font-size: 18px;
    line-height: 30px;
    display: block;
    width: 100%;
    outline: 0;
    background-color: white;
}
.form-input{
    position: relative;
    display: flex;
    width: 100%;
}
.icon{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 50px;
    fill: white;
    color: rgb(0, 0, 0);
}
.br{
    color: black;
}
.div4{
   display: flex;
   justify-content:right;
   padding-right: 50px;
   padding-top: 50px;
}

.cancel{
    color:#D1CB30;
    padding: 15px 20px 15px 20px;
    border-radius: 22px;
    border-color: #D1CB30;
    font-size: 100%;
    margin-right: 20px;
}
.continue{
    color:#D1CB30;
    padding: 15px 20px 15px 20px;
    border-radius: 22px;
    border-color: #D1CB30;
    font-size: 100%;
    margin-right: 20px;
}
.e{
    margin-top: 25px;
    color:#D1CB30;
    padding: 15px 20px 15px 20px;
    border-radius: 22px;
    border-color: #D1CB30;
    font-size: 100%;
    margin-right: 20px;
}