<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="productProfile.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">    <title>Atum Ai</title>
</head>
<header>
    <img class="logo" src="Group.png" alt="logo">
   <a><img class="user" src="user.png" alt="user">User name</a>
    
</header>
<body>
    <div class="parent">
        <div class="div1"> 
            <h2 class="step">Step 1: Set your product profile</h2>
            <p class="description">Complete the following steps to generate a solution: </p>
        </div>
        <div class="div2"> </div>
        <div class="div3">        
        <h3>Describe your product</h3>
        <p class="let">Let us know what your product is about, don’t worry about describing too much, we want to know 
            all the details!</p>
        <div class="form-outer">
            <div class="container">
                <div class="form">
                    <div class="form-input">
                        <span class="icon"><i class="bi bi-mic"></i></span>
                        <input type="text" name="text" placeholder="Describe your product">
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="div4"> </div>
        </div>
</body>
</html>